@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,800';

:root {
  /* Colors */
    --primary-color: #FFFFFF;
    --secondary-color: #1fbbca;
    --tertiary-color: #878BAA;
    --quaternary-color: #FFFFFF;
    --quinary-color: #BABCD1;
    --box-shadow: #3F4E5B;

  /* Fonts */
    --primary-font: 'Fira Sans', sans-serif;

  /* Transition */
    --transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all var(--transition);
}


#body {
  height: 100vh;
  font-family: var(--primary-font);
  color: var(--primary-color);
  position: relative;
  background: linear-gradient(135deg, rgb(30, 187, 202), rgb(235, 188, 167));
  overflow: hidden;
}
