@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,800';

:root {
  /* Colors */
    --primary-color: #FFFFFF;
    --secondary-color: #1fbbca;
    --tertiary-color: #878BAA;
    --quaternary-color: #FFFFFF;
    --quinary-color: #BABCD1;
    --box-shadow: #3F4E5B;

  /* Fonts */
    --primary-font: 'Fira Sans', sans-serif;

  /* Transition */
    --transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}


/* * {
  border: 1px solid black;
  padding: 5px;
}*/

#login {
  margin: auto;
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.f300 {
  font-weight: 300;
} 
.f800 {
  font-weight: 800;
}


.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
  max-width: 400px;
  min-width: 320px;
}


input {
  font-family: var(--primary-font);
  border: none;
  border-radius: 6px;
  height: 10px;
  padding: 25px;
}


.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.link {
  cursor: pointer;
}

.link:visited, .link:active {
  color: white;
}


.link:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  font-family: var(--primary-font);
  border: 1px solid white;
  background: white;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  color: #8786a6;
  font-weight: 500;
  letter-spacing: 2px;
}

button:hover {
  background: #8786a6;
  color: white;
  border: none;
  border: 1px solid #8786a6;
}

